@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
  @import url('https://fonts.googleapis.com/css2?family=Anton&family=Luckiest+Guy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Noto+Sans+HK&family=Secular+One&display=swap');
 /*font-family: 'Belanosima', sans-serif;
  font-family: 'Noto Sans HK', sans-serif;*/



body {
    background-image: url(../img/fondo.png);
    background-size: contain;
    display: flexbox;
    margin: 0;
    padding: 0;
  }
  header {
    padding: 10px;
  }
  .fot{
    background-image: url(../img/nav.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container{
    display: flexbox;
    background-color: rgb(230, 105, 3);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .name{
    background-color: rgba(229, 233, 235, 0.89);
    display: inline-block;
    padding: 15px;
    box-shadow: 60px -16px rgb(59, 59, 59);
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 2px 2px  rgb(34, 26, 26);
    color: #ee6205;
    font-size:xx-large;
    margin-top: 20px;
  }
  .centro{
    text-align-last: center;
    margin: 20px auto;
    padding: 15px;
  }
  .pres {
    max-width: 800px;
    margin: 20px auto;
    padding-top: 60px;
  }
  #sliders{
    text-align: center;
  }

img{
  width: 120px;
  float: inline-start;
}
  h3,h4 {
    color: hsl(0, 0%, 99%);
    padding-top:5px;
    font-family: 'Belanosima', sans-serif;
  }
  h5 {
    padding-top: 20px;
    text-align:start
  }
  #slide {
    font-family: 'Anton', sans-serif;
    color: rgb(216, 204, 30);
    background-color: #05050581;
}
#psj {
  text-align: center;
  color: hsl(0, 0%, 0%);
  font-family: 'Anton', sans-serif;
  font-style: oblique;
  text-decoration-line: underline;
  text-decoration-color: #e95d00ea;
  text-shadow: 1px 1px  rgb(34, 26, 26);
  padding-top: 20px;
}
article
.row {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    width: 100%;
}
#div-1 {
    background-color: rgba(241, 125, 9, 0.795);
    width: 80%;
    height: 360px;
    align-content: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    padding-top: 8px;
    margin-top: 20px;
}
#div-2 {
    background-color: rgba(13, 206, 6, 0.678);
    width: 80%;
    height: 260px;
    align-content: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    padding-top: 8px;
}
#div-3 {
    background-color: rgba(16, 20, 235, 0.712);
    width: 81%;
    height: 300px;
    align-content:baseline;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    padding-top: 8px;
}
.style2 {
    border: 1px solid rgb(3, 3, 3);
    border-radius: 5px;
    color:rgb(252, 250, 249)
}
#inic{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  margin-top: 10px;
}
#link{
  width: 45px;
}
.foot{
  display: flex;
  justify-content: center;
  padding-right: 15px;
  height: 30px;
}